body, #root{
    width: 100%;
    min-height: 100%;
    font-family: 'Noto Sans', sans-serif;
    background: rgb(0,0,0);
    // background: linear-gradient(180deg, rgba(0,0,0,1) 95%, rgba(82,82,237,1) 100%);
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.footer{
    margin-top: 100px;
}

// Launch 
.launch-container{
    color: white;
    margin: 5px;
    border: 1px solid white;
    border-radius: 16px;
    padding: 16px;
    width: 100%;
    max-width: 800px;
}

.launch-container-upcoming{
    min-width: 480px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.launch-upcoming-name{
    font-size: 24px;
    margin-bottom: 48px;
}

.launch-header{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 48px;
}

.launch-details{
    color: gray;
    margin: 10px;
    text-align: center;
}

.launch-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.launch-info-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.launch-info-row{
    padding-left: 24px;
    padding-right: 24px;
    justify-content: space-between;
}

.launch-info-comparison{
    font-size: 16px;
    opacity: 0.85;
}

.launch-patch-big{
    width: 150px;
    height: auto;
}

//

// Header
.header-container{
    width: 100%;
    padding: 16px;
}

.header-link{
    text-decoration: none;
    margin: 0px 24px;
    color: white;
    font-size: 16px;
}

.brand{
    font-weight: bold;
    font-size: 24px;
    margin-right: 48px;
}

//

.loading-spin{
    width: 250px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}